@charset "UTF-8";
@import url(../common/header.css);
@import url(../common/footer.css);
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");
body {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, rgba(245, 245, 220, 0.5), rgba(255, 0, 0, 0.1), rgba(135, 206, 235, 0.5));
  /*グラデーションを定義*/
  background-size: 200% 200%;
  /*サイズを大きくひきのばす*/
  -webkit-text-size-adjust: 100%;
}

.about {
  margin-top: 50px;
}

.about h2,
.about p {
  text-align: center;
  margin: 0;
}

.about__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 50px auto;
}

.about__box .left {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  height: auto;
}

.about__box .left img {
  display: block;
  width: 500px;
  height: 350px;
  opacity: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
}

.about__box .left img.show {
  opacity: 1;
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
}

.about__box .right h3 {
  width: 50%;
  min-width: 300px;
  padding: 20px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.about__box .right h3.show {
  opacity: 1;
  -webkit-transform: translate(-14%, 0);
          transform: translate(-14%, 0);
}

.about__box .right p {
  width: 75%;
  min-width: 450px;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.about__box .right p.show {
  opacity: 1;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.about .quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  opacity: 0;
}

.about .quality.show {
  opacity: 1;
}

.about .quality .left #pic2 {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translate(20%, -20%);
          transform: translate(20%, -20%);
}

.about .quality .left #pic2.show {
  opacity: 1;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}

.about .quality .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about .quality .right h3 {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.about .quality .right h3.show {
  opacity: 1;
  -webkit-transform: translateX(14%);
          transform: translateX(14%);
}

.about .quality .right p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about .quality .right p.show {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.about .rhombus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.about .rhombus h3 {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .about {
    margin: 0 auto;
    -webkit-box-direction: none;
  }
  .about__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
  .about__box .left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__box .left img {
    max-width: 100%;
    height: 50%;
  }
  .about__box .right {
    width: 50%;
  }
  .about__box .right h3 {
    min-width: 150px;
    padding: 10px;
    font-size: 20px;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .about__box .right p {
    min-width: 150px;
    padding: 5px 10px 10px 10px;
    font-size: 12px;
    height: 30px;
    overflow: hidden;
  }
  .about__box .right p.show {
    -webkit-transform: translate(-15%, 0);
            transform: translate(-15%, 0);
  }
  .about__box .right h3,
  .about__box .right p {
    margin-top: 0;
  }
  .about .quality .left #pic2.show {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  .about .quality .right p {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .about .quality .right p.show {
    -webkit-transform: translateX(14%);
            transform: translateX(14%);
  }
}
/*# sourceMappingURL=about.css.map */